body {
    background: linear-gradient(rgba(173, 216, 230, 0.46), rgba(93, 166, 212, 0.438));
    background-repeat: space;
    padding-bottom: 200px;
    min-height: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    position: relative;
}

::-webkit-scrollbar-track {
    height: auto;

}

::-webkit-scrollbar-thumb {
    background: #137d8142;
}

::-webkit-scrollbar-thumb:hover {
    background: #2d657a6d;
}